<aside class="sidebar">
  <nav>
    <ul class="nav-main">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/developer_guides/' | relative_url }}">Developer Guides</a></li>
      <li><a href="{{ '/user-guides/' | relative_url }}">User Guides</a></li>
      <li><a href="{{ '/knowledge_base/' | relative_url }}">Knowledge Base</a></li>
      <li><a href="{{ '/index.md#contact' | relative_url }}">Contact</a></li>
    </ul>
    <hr>
    <div class="toc">
      <h3>On this page</h3>
      <ul>
        {% if page.toc %}
          {{ page.toc }}
        {% else %}
          {% assign min_level = 2 %}
          {% assign max_level = 3 %}
          {% capture toc_content %}
            {% for heading in page.content | split: '\n' %}
              {% if heading contains '## ' %}
                <li style="margin-left:0"><a href="#{{ heading | replace: '## ', '' | slugify }}">{{ heading | replace: '## ', '' }}</a></li>
              {% elsif heading contains '### ' %}
                <li style="margin-left:1em"><a href="#{{ heading | replace: '### ', '' | slugify }}">{{ heading | replace: '### ', '' }}</a></li>
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {{ toc_content }}
        {% endif %}
      </ul>
    </div>
  </nav>
</aside>
